
<form [formGroup]="productForm" (submit)="addProduct();" class="center">
    <h1>Add Product</h1>
    <div>
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
     </div>
      <div>
      <mat-form-field>
        <mat-label>No. of products in stock</mat-label>
        <input matInput formControlName="instock" type="number">
      </mat-form-field>
      </div>
      <!-- <div>
        <mat-label>Add Image</mat-label>
        <input type="file" formControlName="image" id="image" accept="image/png, image/gif, image/jpeg" (change)="setImage($event);">
        <div class="error-msg" *ngIf="!productForm.value.image" >Upload a image</div>
      </div> -->
      <div>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
</form>
<div>
  <table mat-table [dataSource]="productList" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="instock">
      <th mat-header-cell *matHeaderCellDef> In Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.instock}} </td>
    </ng-container>
  
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element" (click)="deleteProduct(element)"> <mat-icon>delete</mat-icon> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>