/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-card {
    height: 100%;
    position: fixed;
}
/* .mat-mdc-card-header {
    display: contents !important;
} */
.mat-h1, .mat-headline-5, .mat-typography .mat-h1, .mat-typography .mat-headline-5, .mat-typography h1 {
    margin: 2%;
}
app-header {
    /* height: 8%; */
    background-color: #EA9F33;
    color: #F1EAE0;
    font-size:large;
    font-weight: bold;
    width: 100%;
}
mat-card-header .menu-button {
    float: left;
} 
mat-card-header h1 {
    width: 95%;
}
mat-card-header button {
    width: 5%;
}
mat-drawer-container {
    position: fixed !important;
    height: 93% !important;
}
.mat-drawer {
    background: #F1EAE0 !important;
}
mat-card-content {
    height: 85%;
    padding: 2px;
    background-color: #F1EAE0;
    overflow: auto;
}
app-footer {
    height: 5%;
    padding: 1%;
    color: #EA9F33;
    justify-items: center;
    text-align: right;
}
.error-404 {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.error-msg {
    color: red;
}
.center {
    text-align: center;
    justify-items: center;
}
.product-list {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}
.product-view {
    width: 20%;
    height: 180px;
    text-align: center;
    padding: 2px;
    border-radius: 25px;
    background: darkgoldenrod;
    border: 5px solid white;
    left: 5px;
    justify-items: center;
}
.product-image {
    width: 100%;
    height: 30%;
    background: white;
}
.product-selection , ul {
    text-align: center;
    list-style-type:none;
    width: 100%;
    justify-items: center;
}
.product-selection , li {
    float: left;
    display: contents;
}
.product-add-cart {
    width: 100%;
}
.quantity-input {
    width: 10px;
}